@import '../../styles/index.scss';

#filter-articles {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  padding-bottom: 5px;
  border-bottom: solid 2px $color-blue;
  @include desktop {
    flex-direction: row;
  }
  & > span {
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 23px;
  }
  & button {
    background-color: $color-blue;
    border: none;
    color: white;
    border-radius: 17px;
    height: 45px;
    min-width: 179px;
    max-width: 275px;
    font-weight: bold;
    font-size: 20.8px;
    letter-spacing: 1px;
    font-family: $font-play;
    margin-bottom: 8px;

    &:hover {
      cursor: pointer;
    }
    @include desktop {
      margin-left: 36px;
    }
  }
}
