@import 'variables.scss';
@import 'mixins.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  padding-left: 15px;
  padding-right: 15px;
  font-family: $font-play;
  @include desktop {
    padding-left: 33px;
    padding-right: 33px;
  }
}
